@import '../styles/common/variables';

.blog-post {
    h1 {
        margin-bottom: 2px;
    }
}

.published-at {
    color: $dark-grey;
    font-size: 1.2rem;
    padding-left: 5px;
}

.content > p:first-child {
    margin-top: .9rem;
}
