@import '../styles/common/variables';

.header {
    display: flex;
    align-items: flex-start;

    ul {
        display: flex;
        list-style: none;
        padding: 1px 0 0;
    }

    li {
        margin-right: 1.4rem;


        a, a:link, a:visited {
            color: $light-grey;
            text-decoration: none;
        }

        a:hover, a:active {
            color: $dark-grey;
        }

        a.active-nav-item {
            color: black;
            text-decoration: underline;
        }
    }
}

.logo {
    margin-right: 1.5rem;
    width: 10rem;
}
